/*General Styles*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: 'open sans';
  font-weight: 400;
  grid-template-columns: .75fr 1fr 1fr;
  grid-template-areas:
  "header header header"
  "aside main main"
  "aside main main";
  margin: 0px;
}

button:hover {
  cursor: pointer;
}
/*Header Styles*/
#header {
  align-items: center;
  background-color: #1f1f3d;
  display: flex;
  grid-area: header;
  justify-content: space-between;
}

#header--title {
  color: #fff;
  font-size: 2.2em;
  letter-spacing: .02em;
  margin: 12px 12px;
}

#h1--yo-span{
  color: #ffc30c;
}

#header--search-form {
  display: flex;
  margin-right: 12px;
}

#form--search-icon-div {
  background-color: #C8D3D9;
  border-radius: 2px 0px 0px 2px;
  width: 40px;
}

#div--search-icon {
  height: 30px;
  margin: 8px 0px 0px 5px;
}

#form--search-input {
  border: solid #fff 0px;
  border-radius: 0px 2px 2px 0px;
  font-size: 1em;
  height: 45px;
  padding-left: 10px;
  width: 300px;
}
/*Aside Styles*/
#aside {
  align-items: center;
  background-color: #587a8a;
  display: flex;
  flex-direction: column;
  grid-area: aside;
  height: 100vh;
}

#aside--task-form,
#section--filter-by-urgency {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

#aside--task-form {
  border-bottom: solid #42697C 2px;
}

.form--label {
  color: #C8D3D9;
}

.form--input {
  border: solid #1f1f3d 2px;
  border-radius: 2px;
  height: 50px;
}

#form--task-title-input {
  margin-bottom: 30px;
}

#form--appended-tasks {
  list-style: none;
  padding-left: 5px;
}

.task {
  display: flex;
  width: 100%;
}

.delete-task {
  margin-right: 20px;
}

li{
  cursor: default;
}

.delete-task:hover {
  cursor: pointer;
}

#form--add-task {
  display: flex;
  margin-bottom: 15px;
}

#section--add-task-input {
  border-radius: 2px 0px 0px 2px;
  width: 95%;
}

#section--add-task-button {
  background-color: #1f1f3d;
  border-radius: 0px 2px 2px 0px;
  color: white;
  font-size: 2.3em;
  text-align: center;
  width: 20%;
}

#section--add-task-button:hover {
  cursor: pointer;
}

.form--button,
.section--button {
  background-color: #1f1f3d;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  height: 2.5em;
  margin: 10px 0px;
}


/*Main Styles*/
#main {
  background-color: #f3f6f7;
  grid-area: main;
  height:100vh;
  overflow: scroll;
}

.main--to-do {
  background-color: #fafdff;
  border: solid #c7d3d8 2px;
  margin: 35px;
  width: 300px;
}

.section--to-do-header {
  border-bottom: solid #c7d3d8 2px;
  color: #1f1f3d;
  font-size: 1.3em;
  font-weight: 700;
  margin: 10px 2px;
  padding-left: 15px;
}

.section--to-do-body {
  border-bottom: solid #c7d3d8 2px;
  margin: 20px 2px 10px 2px;
  padding-left: 15px;
}

.article--to-do-ul {
  color: #1f1f3d;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.ul--task {
  display: flex;
  margin-bottom: 20px;
}

.li--checkbox-img {
  height: 25px;
  margin-right: 10px;
}

.section--to-do-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.article--footer-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'open sans';
}

.article--urgent-div {
  margin-left: 15px;
}

.article--delete-div {
  margin-right: 15px;
}

.div--footer-img {
  height: 30px;
  width: 30px;
}

.div--footer-text {
  color: #3c6577;
  margin: 5px 0px;
}

#main--no-to-do {
  text-align: center;
  margin-top: 200px;
  font-size: 4em
}